PUID=1000
PGID=1000
APP_KEY=__APP_KEY__
APP_URL=__APP_URL__
APP_TIMEZONE=__APP_TIMEZONE__
DISPLAY_TIMEZONE=__DISPLAY_TIMEZONE__
SPEEDTEST_SCHEDULE=__SPEEDTEST_SCHEDULE__
DB_CONNECTION=sqlite
PUBLIC_DASHBOARD=true
